<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wow Realms Trivia Bot</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Wow Realms Trivia Bot</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <li><a href="/Log In">Log In</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <form id="form">
            <div class="form-group row">
                <label for="question" class="col-sm-2 col-form-label">Question</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="question" placeholder="Your question">
                </div>
            </div>
            <div class="form-group row">
                <label for="answers" class="col-sm-2 col-form-label">Answer(s)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="answers"
                        placeholder="Seperate multiple answers with a ,">
                </div>
            </div>
            <div class="form-group row">
                <label for="firstHint" class="col-sm-2 col-form-label">First hint</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstHint" placeholder="First hint for this question">
                </div>
            </div>
            <div class="form-group row">
                <label for="secondHint" class="col-sm-2 col-form-label">Second hint</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="secondHint" placeholder="Second hint for this question">
                </div>
            </div>
            <div class="form-group">
                <label for="imageUpload">If your question needs an image, upload it here</label>
                <input type="file" class="form-control-file" id="files">
            </div>
            <div class="form-group">
                <input type="submit" value="submit" id="formSubmit">
            </div>
        </form>
    </div>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>